		body{
                        margin: 0px;
                        background-color: rgba(102,204,255,0.35);
                        //background-color: #E6E6E6;
			width: 1366px;
                 }
                 header{
                        padding-top: 10px;
                        padding-bottom: 10px;
                        width: 100%;
                 }
                 .main-container{
                         margin-top: 30px;
                         width: 100%;
                         height: 100%;
                 }
                 .title{
                        //color: #0091AD;
                        font-size: 60px;
                        margin-top: 10px;
                        float: left;
                 }
                 .chapter{
                        height: 16.6%;
                        width: 100%;
                        float: none;
                 }
                 .split-line{
                        height: 1px;
                        width: 100%;
                        background-image: linear-gradient(to right, rgba(102,204,255,0.35), rgba(210,110,15,1), rgba(102,204,255,0.35));
                 }
                 .chapter-title1,.chapter-title2,.chapter-title3{
                        color: #0091AD;
                 }
                 .chapter-title{
                        width: 100%;
                        height: 10%;
                 }
                 .chapter-title1{
                        font-size: 20px;
                        padding-left: 44%;
                 }
                 .chapter-title2{
                        font-size: 18px;
                        padding-left: 45.5%;
                        font-weight: bold;
                 }
                 .chapter-title3{
                        font-size: 23px;
                        padding-left: 44%;
                        padding-bottom: 5px;
                 }
                 .space{
                        width: 100%;
                        height: 5px;
                 }
                .chapter-image{
                        height: 200px;
                        width: 200px;
                }
                .chapter-body{
                        width: 100%;
                }
                .chapter-first-text{
                        height: 75px;
                        width: 75px;
                        border: 1px solid #82C0CC;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-left: 45%;
                        margin-top: 20px;
                        transform: rotate(-45deg);
                        font-size: 20px;
                        background: #91A6FF;
                }
                .chapter-first-image{
                        margin-top: 40px;
                }
                .photos-container{
                }
                .photo{
                        border: 2px solid yellow;
                }
                .top{
                        position: fixed;
                        right: 8;
                        bottom: 7;
                        background-image: url('top.jpg');
                        height: 55px;
                        width: 55px;
                        border-radius: 27px;
                        -box-shadow: 2px 2px 2px #888888;
                        -webkit-transition-duration: 0.8s;
                        outline: none;
                        display: none;
                }
                .top:hover{
                         background-image: url('jt2.jpg');
                 }
                .chapter-title4{
                        color: gray;
                        font-weight: bold;
                        transform: rotate(45deg);
                }
                .buttton{
                        text-decoration:underline;
                        cursor: pointer;
                }
                footer{
                        background-color: gray;
                        width: 100%;
                        height: 40%;
                }
                header{
                        margin-top: 3%;
                }
                p{
                        margin-top: 0px;
                        margin-bottom: 0px;
                        padding: 0px;
                        font-size: 17px;
                }
                .title-div{
                        margin-left: 35%;
                }
                .p-1{
                        font-size: 23px;
                        margin-left: 45%;
                        margin-top: 15px;
                        color: orange;
                }
                .p-2{
                        font-size: 18px;
                        margin-left: 15%;
                        margin-top: 15px;
                        color: gray;
                }
                .p-3{
                        font-size: 18px;
                        margin-left: 15%;
                        margin-top: 5px;
                        color: gray;
                }
		.end-text{
			margin-left: 17%;
			margin-top: 6%;
			margin-right: 17%;
			padding: 20px;
			padding-right: 10px;
			color: black;
			border: 3px dashed orange;
			border-radius: 10px;
		}
		.p-4{
			color: black;
			text-shadow: 5px 5px 5px #6E6E6E;
		}
